.header {
    background-color: brown;
    color: black;
    text-align: center;
    padding: 3%;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: bisque;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline-block;
    border-right: 2px solid black;
    padding: 1%;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}