* {
    margin: 0;
    padding: 0;
    background-color: beige;
}

.nav {
    margin: auto;
    width: 100%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 5px;
}

.nav li a {
    text-decoration: none;
    color: grey;
}

.nav li a:hover {
    transition: ease-in-out 0.3s;
    font-style: italic;
}